#right {
    float: right;
    margin: 50px;
    width: 40%;
}

#left {
    float: left;
    margin: 50px;
    width: 40%;
}

.returdata {
    background-color: grey;
}

body > div:nth-child(5) > p.returdata {
    background-color: grey;
}