.content {
    max-width: 70%;
    margin: auto;
    height: 120vh;
  }
body > div > nav {
    background: #0c3256;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: solid;
    border-top: solid;
}

#header {
    font-size: 80px;
    text-align:center;
    margin-bottom: 0px;
    display:block;
}
/* .column1 {
    width: auto;
    padding: 10px;
    overflow:scroll;
    height: 500px;
    padding: 15px;
}  */

.column1>div:nth-child(even) {
    background-color: #ccc;
    padding: 21px;
}

.column1>div:nth-child(odd) {
    background-color: rgba(226, 226, 226, 0.918);
    padding: 21px;
}

#eventTitle {
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.returdata {
    background-color: rgb(156, 155, 155);
    font-family: 'Source Code Pro', monospace;
}

body > div:nth-child(5) > p.returdata {
    background-color: grey;
    font-family: 'Source Code Pro', monospace;
}

#backBtn {
    color: yellow;
    margin-left: 10px;
    float: right;
}

#errorMsg {
    border: red solid;
    margin: 10px;
    padding: 10px;
}

#StoryCard {
    margin: auto;
    width: 70%;
    background-color: #ccc;
    padding: 20px;
}

#TweetCard {
    margin: auto;
    width: 70%;
    background-color: rgba(226, 226, 226, 0.918);
    padding: 20px;
}